---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.fullname }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ .Values.name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
